 <div  class="col-sm-12">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href ng-click="funciton1()">ESSBettingHouse <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="profile()">Profile </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="premium()">Premium </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="addcoin()">Add Money </a>
                </li>
                <li class="nav-item">
                    <a align="right" class="nav-link" href ng-click="logout()">Logout </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="col-sm-12">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <br>
                <br>
                <img src="content/images/betting-sites.gif" />
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <br>
                    <br>
                    <h3> Add more money to your account and start winning </h3>
                    <h5> Big wins!!!! </h5>
                    <br>
                    <label for="exampleInputMoney">Add money amount</label>
                    <input type="int" class="form-control" id="exampleInputMoney" placeholder="Money">
                    <br>
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    <br>
                    <button type="button" class="btn btn-primary" ng-click="function1()">Pay to subscrive</button>
                </div>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
                <br>
                <br>
                <img style="width:220px;height:230px;border:100;" src="content/images/bovadasportsbook.jpg" />
                <br>
                <img style="width:220px;height:230px;border:100;" src="content/images/10bet_website.jpg" />
            </div>
        </div>
    </div>
</div>
<br>
<img  style="width:1230px;height:200px;border:100;" src="content/images/Sport-Betting-in-Nigeria-Nigeriabet24.com_.jpg" />
