<div class="col-md-12 text-center">
    <h1> ESS Betting House </h1>
    <img src="content/images/rugby-betting-1067378.png" width="100" height="100"/>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
              <div class="form-group">
                <h2>Register:</h2>
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <label for="exampleInputName">Name</label>
                <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Enter name">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                <br>
                <button type="submit" class="btn btn-primary" ng-click="function1()">Submit</button>
                <button type="submit" class="btn btn-primary" ng-click="function2()">Go back</button>
            </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
</div>
