 <div  class="col-sm-12">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href ng-click="function1()">ESSBettingHouse <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="profile()">Profile </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="premium()">Premium </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="addcoin()">Add Money </a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" href ng-click="logout()">Logout </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<style>
.ai {
  border: 2px solid lightblue;
  margin: auto;
  padding: 10px;
  text-align: center;

}
</style>
<div class="col-sm-12">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <div class="ai" ng-show="(seePrivateEvents)">
                    <div class="form-group" >
                        <br>
                        <label for="exampleInputName">   Game : Team 1 vs Team 2 ------ Odd 1 | Odd2 | Odd Empate ------ Hora incio </label>
                        <button type="button" class="btn btn-primary" ng-click="bet()">Bet</button>
                    </div>
                </div>

                <div class="ai" ng-show="!(seePrivateEvents)">
                    <div class="form-group" >
                        <br>
                        <label for="exampleInputName">   Game : Team 1 vs Team 2 ------ Odd 1 | Odd2 | Odd Empate ------ Hora incio </label>
                        <button type="button" class="btn btn-primary" ng-click="bet()">Bet</button>
                    </div>
                </div>
               
            </div>
           
            <div class="col-sm-2">
            </div>
        </div>
    </div>
</div>


