<div class="col-sm-12" ng-show="(ehAdmin)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href ng-click="main()">ESSBettingHouse <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="profile()">Profile </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="betsRegisted()">Bets </a>
                </li>
                <li class="nav-item" ng-show="(ehPremium)">
                    <a class="nav-link" href ng-click="betsHistoric()">Historic </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="premium()">Premium </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="addcoin()">Add Money </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Admin Area
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href ng-click="users()">Manage Users </a>
                        <a class="dropdown-item" href ng-click="events()">Manage Events </a>
                        <a class="dropdown-item" href ng-click="bets()">Manage Bets </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="logout()">Logout </a>
                </li>

            </ul>
        </div>
    </nav>
</div>
<div class="col-sm-12">
    <div class="container">
        <div class="row">

            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <br>
                    <h5>Add a new Event</h5>
                    <br>
                    <div class="form-group">
                        <label for="exampleInputBegintime">Begin Time:</label>
                        <input type="datetime-local" class="form-control" id="exampleInputBegintime"
                            placeholder="Enter Begin time" ng-model="beginTime">
                        <label for="exampleInputEndtime">End Time:</label>
                        <input type="datetime-local" class="form-control" id="exampleInputEndtime"
                            placeholder="Enter End time" ng-model="endTime">
                        <label for="exampleInputSport">Sport:</label>
                        <input type="text" class="form-control" id="exampleInputSport" placeholder="Enter the Sport"
                            ng-model="sport">
                        <label for="exampleInputTimeevent">Team Event:</label>
                        <form>
                            Yes <input type="radio" ng-model="teamEvent" value="false">
                            No <input type="radio" ng-model="teamEvent" value="true">
                        </form>

                        <label for="exampleInputTie">Tie Odd:</label>
                        <input type="number" class="form-control" id="exampleInputTie" placeholder="Enter the Tie Odd"
                            ng-model="oddTie">
                        <label class="form-check-label" for="exampleCheck1">Public Event</label>
                        <form>
                            Yes <input type="radio" ng-model="publicEvent" value="false">
                            No <input type="radio" ng-model="publicEvent" value="true">
                        </form>

                        <br>
                        <div id="forms"  class="form-group">
                            <label for="exampleInputNP">Number of participants:</label>
                            {{ form.as_p }}
                        </div>
                        <br>
                        <button id="add-another" class="btn btn-primary">Add participants</button>
                        <br>

                        <script>
                            form_count = Number($("[name=extra_field_count]").val());
                            // get extra form count so we know what index to use for the next item.

                            $("#add-another").click(function() {
                                form_count ++;

                                element = $('<input type="text" class="form-control" id="exampleInputTie" placeholder="Enter a Participant"/>');
                                element.attr('name', 'extra_field_' + form_count);
                                $("#forms").append(element);
                                // build element and append it to our forms container

                                $("[name=extra_field_count]").val(form_count);
                                // increment form count so our view knows to populate
                                // that many fields for validation
                            })
                        </script>

                        <br>

                        <button type="button" class="btn btn-primary" ng-click="addEvent(beginTime,endTime,sport,teamEvent,oddTie,publicEvent,nParticipants)">Add Event</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
</div>
