<div class="col-sm-12" ng-show="(ehAdmin)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href ng-click="main()">ESSBettingHouse <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="profile()">Profile </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="betsRegisted()">Bets </a>
                </li>
                <li class="nav-item" ng-show="(ehPremium)">
                    <a class="nav-link" href ng-click="betsHistoric()">Historic </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="premium()">Premium </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="addcoin()">Add Money </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Admin Area
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href ng-click="users()">Manage Users </a>
                        <a class="dropdown-item" href ng-click="events()">Manage Events </a>
                        <a class="dropdown-item" href ng-click="bets()">Manage Bets </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="logout()">Logout </a>
                </li>

            </ul>
        </div>
    </nav>
</div>
<div class="col-sm-12">
    <div class="container">
        <div class="row">

            <div class="col-sm-1">
            </div>
            <div class="col-sm-10">
                <div class="form-group">
                    <br>
                    <h5>Add a new Event</h5>
                    <br>
                    <button type="button" class="btn btn-primary" ng-click="maisevent()">New Event</button>
                    <br>
                    <br>
                    <h5>Active Events</h5>
                    <br>
                    <table class="table table-striped">
                         <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Begin</th>
                                <th scope="col">End</th>
                                <th scope="col">State</th>
                                <th scope="col">Sport</th>
                                <th scope="col">Time Event?</th>
                                <th scope="col">Tie Odd</th>
                                <th scope="col">Public Event?</th>
                                <th scope="col">Number of participants</th>
                                <th scope="col">Participantes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in eventsOpenInfo track by $index">
                                <td>{{eventsOpenInfo[$index].id}}</td>
                                <td>{{eventsOpenInfo[$index].horaInicio}}</td>
                                <td>{{eventsOpenInfo[$index].horaFim}}</td>
                                <td>{{eventsOpenInfo[$index].estado}}</td>
                                <td>{{eventsOpenInfo[$index].desporto}}</td>
                                <td>{{eventsOpenInfo[$index].evento_equipa}}</td>
                                <td>{{eventsOpenInfo[$index].odd_empate}}</td>
                                <td>{{eventsOpenInfo[$index].publico}}</td>
                                <td>{{eventsOpenInfo[$index].n_participante}}</td>
                                <td>
                                    <select>
                                        <option>Participants</option>
                                        <option ng-repeat="z in eventsOpenPart[$index]">Name:{{z.nome}} Odd:{{z.odd_vencer}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary" ng-click="">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <br>
                    <h5>Closed Events</h5>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Begin</th>
                                <th scope="col">End</th>
                                <th scope="col">State</th>
                                <th scope="col">Sport</th>
                                <th scope="col">Team Event?</th>
                                <th scope="col">Tie Odd</th>
                                <th scope="col">Public Event?</th>
                                <th scope="col">Number of participants</th>
                                <th scope="col">Participantes</th>
                                <th scope="col">Winner</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="z in eventsClosedInfo track by $index">
                                <td>{{eventsClosedInfo[$index].id}}</td>
                                <td>{{eventsClosedInfo[$index].horaInicio}}</td>
                                <td>{{eventsClosedInfo[$index].horaFim}}</td>
                                <td>{{eventsClosedInfo[$index].estado}}</td>
                                <td>{{eventsClosedInfo[$index].desporto}}</td>
                                <td>{{eventsClosedInfo[$index].evento_equipa}}</td>
                                <td>{{eventsClosedInfo[$index].odd_empate}}</td>
                                <td>{{eventsClosedInfo[$index].publico}}</td>
                                <td>{{eventsClosedInfo[$index].n_participante}}</td>
                                <td>
                                    <select>
                                        <option>Participants</option>
                                        <option ng-repeat="z in eventsClosedPart[$index]">Name:{{z.nome}}
                                            Odd:{{z.odd_vencer}}</option>
                                    </select>
                                </td>
                                <td>
                                <td>{{eventsClosedInfo[$index].vencedor}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
    </div>
</div>
