 <div  class="col-sm-12" ng-show="(ehAdmin)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href ng-click="main()">ESSBettingHouse <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="profile()">Profile </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="premium()">Premium </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="addcoin()">Add Money </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin Area
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href ng-click="users()">Manage Users </a>
                    <a class="dropdown-item" href ng-click="events()">Manage Events </a>
                    <a class="dropdown-item" href ng-click="bets()">Manage Bets </a>

                    </div>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" href ng-click="logout()">Logout </a>
                </li>

            </ul>
        </div>
    </nav>
</div>
<div class="col-sm-12">
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <div class="form-group">
                    <br>
                    <h5>Open Bets</h5>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Bet ID</th>
                                <th scope="col">Bet State</th>
                                <th scope="col">Money betted</th>
                                <th scope="col">User ID</th>
                                <th scope="col">User name</th>
                                <th scope="col">User email</th>
                                <th scope="col">Event ID</th>
                                <th scope="col">Event Begin</th>
                                <th scope="col">Event End</th>
                                <th scope="col">Event State</th>
                                <th scope="col">Event Sport</th>
                                <th scope="col">Event Tie Odd</th>
                                <th scope="col">Public Event?</th>
                                <th scope="col">Participant Bet</th>
                                <th scope="col">Odd Bet</th>
                                <th scope="col">Event other participantes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="z in betsOpenInfo track by $index">
                                    <td>{{betsOpenInfo[$index].id}}</td>
                                    <td>{{betsOpenInfo[$index].estado}}</td>
                                    <td>{{betsOpenInfo[$index].montante}}</td>
                                    <td>{{betsOpenInfo[$index].utilizador_id}}</td>
                                    <td>{{betsOpenInfo[$index].utilizador_nome}}</td>
                                    <td>{{betsOpenInfo[$index].utilizador_email}}</td>
                                    <td>{{betsOpenInfo[$index].evento_id}}</td>
                                    <td>{{betsOpenInfo[$index].evento_Inicio}}</td>
                                    <td>{{betsOpenInfo[$index].evento_Fim}}</td>
                                    <td>{{betsOpenInfo[$index].evento_estado}}</td>
                                    <td>{{betsOpenInfo[$index].evento_desporto}}</td>
                                    <td>{{betsClosedInfo[$index].evento_oddEmpate}}</td>
                                    <td>{{betsOpenInfo[$index].evento_publico}}</td>
                                    <td>{{betsOpenInfo[$index].participante_nome}}</td>
                                    <td>{{betsOpenInfo[$index].participante_odd}}</td>
                                    <td>
                                        <select>
                                            <option>Participants</option>
                                            <option ng-repeat="z in betsOpenInfo[$index].outrosParticipante">Name:{{z.nome}}
                                                Odd:{{z.odd_vencer}}</option>
                                        </select>
                                    </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="form-group">
                    <br>
                    <br>
                    <h5>Closed Bets</h5>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Bet ID</th>
                                <th scope="col">Bet State</th>
                                <th scope="col">Money betted</th>
                                <th scope="col">User ID</th>
                                <th scope="col">User name</th>
                                <th scope="col">User email</th>
                                <th scope="col">Event ID</th>
                                <th scope="col">Event Begin</th>
                                <th scope="col">Event End</th>
                                <th scope="col">Event State</th>
                                <th scope="col">Event Sport</th>
                                <th scope="col">Event Tie Odd</th>
                                <th scope="col">Public Event?</th>
                                <th scope="col">Event other participantes</th>
                                <th scope="col">Winner</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="z in betsClosedInfo track by $index">
                                <td>{{betsClosedInfo[$index].id}}</td>
                                <td>{{betsClosedInfo[$index].estado}}</td>
                                <td>{{betsClosedInfo[$index].montante}}</td>
                                <td>{{betsClosedInfo[$index].utilizador_id}}</td>
                                <td>{{betsClosedInfo[$index].utilizador_nome}}</td>
                                <td>{{betsClosedInfo[$index].utilizador_email}}</td>
                                <td>{{betsClosedInfo[$index].evento_id}}</td>
                                <td>{{betsClosedInfo[$index].evento_Inicio}}</td>
                                <td>{{betsClosedInfo[$index].evento_Fim}}</td>
                                <td>{{betsClosedInfo[$index].evento_estado}}</td>
                                <td>{{betsClosedInfo[$index].evento_desporto}}</td>
                                <td>{{betsClosedInfo[$index].evento_oddEmpate}}</td>
                                <td>{{betsClosedInfo[$index].evento_publico}}</td>
                                <td>{{betsClosedInfo[$index].participante_nome}}</td>
                                <td>{{betsClosedInfo[$index].participante_odd}}</td>
                                <td>
                                    <select>
                                        <option>Participants</option>
                                        <option ng-repeat="z in betsClosedInfo[$index].outrosParticipante">Name:{{z.nome}}
                                            Odd:{{z.odd_vencer}}</option>
                                    </select>
                                    td>{{betsClosedInfo[$index].evento_vencedor}}</td>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
