<div class="col-md-12 text-center">
    <h1> ESS Betting House </h1>
    <img src="content/images/rugby-betting-1067378.png" />

    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" ng-model="emailUser">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="passwordUser">
                    {{userExistsError}}
                    <br>
                    <button type="button" class="btn btn-primary" ng-click="login(emailUser, passwordUser)">Login</button>
                    <button type="button" class="btn btn-primary" ng-click="function2()">Register</button>
                </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>



</div>





