 <div  class="col-sm-12">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href ng-click="main()">ESSBettingHouse <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="profile()">Profile </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="premium()">Premium </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="addcoin()">Add Money </a>
                </li>
                <li class="nav-item dropdown" ng-show="(ehAdmin)">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin Area
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href ng-click="users()">Manage Users </a>
                    <a class="dropdown-item" href ng-click="events()">Manage Events </a>
                    <a class="dropdown-item" href ng-click="bets()">Manage Bets </a>

                    </div>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" href ng-click="logout()">Logout </a>
                </li>

            </ul>
        </div>
    </nav>
</div>
<div class="col-sm-12">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-6">
                <div class="form-group" style="text-align:center;">
                    <br>
                    <br>
                    <h5> {{participantsNome}} </h5>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                            </div>
                            <!--<div class="col-sm-6">
                                <div class="form-inline" style="text-align:center;" ng-repeat="x in participantsInfo track by $index">
                                    <label class="form-check-label" for="exampleCheck1">Odd {{participantsInfo[$index].odd_vencer}} for victory of {{participantsInfo[$index].nome}}:
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1" value="participantsInfo[$index].id"
                                            ng-model="checkParticipante">
                                    </label>
                                </div>
                                <div class="form-inline" style="text-align:center;">
                                    <label class="form-check-label" for="exampleCheck3">Odd {{apostaOddEmpate}} for draw:
                                        <input type="checkbox" class="form-check-input" id="exampleCheck3" value=""
                                            ng-model="checkParticipante">
                                    </label>
                                </div>
                                <br>
                            </div>-->
                            <div>
                                <select ng-model="checkParticipante">
                                    <option value="">Odd {{apostaOddEmpate}} for draw</option>
                                    <option ng-repeat="x in participantsInfo track by $index" value="{{participantsInfo[$index].id}}">Odd {{participantsInfo[$index].odd_vencer}} for victory of {{participantsInfo[$index].nome}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>
                    </div>
                    <br>
                    <label for="exampleInputPassword1">Amount</label>
                    <input type="number" class="form-control" id="exampleInputAmount" placeholder="Amount"
                        ng-model="amount">
                        {{erroAmount}}
                        {{erroPlafond}}
                    <br>
                    <button type="button" class="btn btn-primary"
                        ng-click="betParticipant(checkParticipante,amount)">Place your bet</button>
                </div>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
</div>
