 <div  class="col-sm-12">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" ></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href ng-click="function1()">ESSBettingHouse <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="profile()">Profile </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="premium()">Premium </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="addcoin()">Add Money </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href ng-click="logout()">Logout </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="col-sm-12">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-6">
                <div class="form-group" style="text-align:center;">
                    <br>
                    <br>
                    <h5 > Team 1 vs Team2 </h5>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-6">
                                <div class="form-inline" style="text-align:center;">
                                    <label class="form-check-label" for="exampleCheck1">Odd for victory of Team 1:    <input type="checkbox" class="form-check-input" id="exampleCheck1" ng-model="checkOddTeam1">
                                    </label>
                                </div>
                                <br>
                                <div class="form-inline" >
                                    <label class="form-check-label" for="exampleCheck2">Odd for victory of Team 2:
                                            <input type="checkbox" class="form-check-input" id="exampleCheck2" ng-model="checkOddTeam2">
                                    </label>
                                </div>
                                <br>
                                <div class="form-inline" style="text-align:center;">
                                <label class="form-check-label" for="exampleCheck3">Odd for draw:
                                    <input type="checkbox" class="form-check-input" id="exampleCheck3" ng-model="checkOddTeam3">
                                </label>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>
                    </div>
                    <br>
                    <label for="exampleInputPassword1">Amount</label>
                    <input type="float" class="form-control" id="exampleInputAmount" placeholder="Amount">
                    <br>
                    <button type="button" class="btn btn-primary" ng-click="fun()">Place your bet</button>
                </div>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
</div>
